.team-card {
    background-color: #FAFAFA;
}
.py-8{
    padding: 70px 0px;
}
button.explore-btn {
    border-radius: 50px;
}
.explore-btn.no-color {
    background-color: transparent;
    border: 1px solid #fff;
}
.team-sub-card {
    border-top: 2px solid #168B9A;
    padding: 50px 16px 16px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 24px rgb(0 0 0 / 8%);
    max-width: 440px;
    margin: auto;
    position: relative;
    transition: 0.3s ease-in-out 0s;
}
.team-sub-card:hover {
    box-shadow: none;
}

.team-sub-card h4 {
    position: absolute;
    top: -23px;
    background-color: #168B9A;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    padding: 12px 10px;
    border-radius: 50px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 253px;
    transition: 0.3s ease-in-out 0s;
}
.team-sub-card:hover h4 {
    box-shadow: 0px 6px 0px #000;
}
.icon-content.forward {
    background-color: rgb(255 255 255 / 42%);
    margin-bottom: 20px;
    border: 1px solid #EAF5FF;
    padding: 20px;
    border-radius: 8px;
    transition: 0.3s ease-in-out 0s;
}
.icon-content.forward:hover h5 {
    color: #168b9a;
}
.icon-content.forward span.tag {
    background-color: #20A0B1;
    color: #fff;
    padding: 2px 8px;
    font-size: 14px;
    border-radius: 8px;
    margin-bottom: 14px;
    display: inline-block;
}
.icon-content.forward .content h5 {
    font-weight: 500;
    margin-bottom: 12px;
}
.icon-content.forward .icon img {
    width: 100%;
}
.icon-content.forward .icon {
    width: 30%;
    padding-right: 30px;
}
.icon-content.forward .content {
    width: 70%;
}
.contact-card img {
    width: 58px;
    height: 58px;
    object-fit: contain;
}

.contact-card {
    border: 1px solid #168B9A;
    border-radius: 8px;
    transition: 0.3s ease-in-out 0s;
    position: relative;
}
.contact-card:hover {
    box-shadow: 0px -5px 1px #168b9a inset;
}
.team-sub-card:hover::before {
    opacity: 1;
}
.team-sub-card::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #168b9a;
    top: 0;
    border-top: 0px;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease-in-out 0s;
}

.talent .btn-merge button {
    width: 100%;
    border-radius: 50px;
    border: 1px solid #25c1d5;
    max-width: 340px;
}
.talent .btn-merge button.explore-btn.job-apply {
    background-color: transparent;
    color: #25c1d5;
    transition: 0.3s ease-in-out 0s;
}
.talent .btn-merge button.explore-btn.job-apply:hover{
    background-color: #25c1d5;
    color: #fff;
}
.connect-card img {
    width: 48px;
    margin-bottom: 20px;
}
.connect-card {
    background-color: #FBFBFB;
    border-radius: 12px;
    height: 100%;
}   
.iframe-map iframe {
    width: 100%;
    min-height: 470px;
}

.contact-banner {
    background-image: url(/images/contactimages/contactbannerbg.jpg);
    min-height: 400px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-banner h2 {
    font-size: 54px;
    font-weight: 400;
}
.contact-banner p {
    max-width: 330px;
    margin: 12px 0px 22px 0px;
}
.addspartnr h3.color-wt {
    color: #fff;
}
/* media query */
@media(max-width: 767px){
    .contact-banner h2{
        font-size: 38px;
        line-height: 38px;
    }
    .icon-content.forward .icon {
        padding: 0px 0px 20px;
        width: 100%;
    }
    .icon-content.forward .content{
        width: 100%;
    }
    .team-sub-card{
        margin: auto auto 30px auto;
    }
    .talent-btn,.contact-card {
        margin-bottom: 20px;
    }

    .icon-content.forward {
        flex-direction: column;
        text-align: center;
    }
    .btn-merge.pe-4.me-4 {
        margin: 0px !important;
        padding: 0px !important;
        text-align: center;
    }
    .connect-level .col-sm-4 {
        width: 50%;
        flex: auto;
    }

}
@media(max-width: 575px){
    .connect-level .col-sm-4 {
        width: 100%;
        flex: auto;
    }
    .connect-card {
        height: auto;
        margin-bottom: 22px;
    }
    .iframe-map iframe {
        min-height: 230px;
    }
    .contact-banner .content {
        padding-bottom: 30px;
    }
}